/* 
    Created on : May 9, 2023, 5:18:53 PM
    Author     : ivan
*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#principalWeb {
    grid-area: main;

    background-image: url('../img/fondo.png');

    padding: 10px 100px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: "seccionIzquierda seccionDerecha";

    gap: 20px;
    
    max-width: 100vw;
}

#libroPrincipal, #clientesYProductos {
    grid-area: seccionIzquierda;
}

#discoPrincipal, #pedidosYFacturas {
    grid-area: seccionDerecha;
}

#libroPrincipal, #discoPrincipal {
    border: 5px solid #b5985d;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    min-width: 0;
    overflow: hidden;
}

#tituloLibros, #tituloDiscos {
    font-family: 'Dancing Script', cursive !important;
    text-align: center;

    border-bottom: 5px solid #b5985d;

    background-color: #CF6236;
    color: whitesmoke;
    
    padding: 0.1em 0em;

    font-size: 50px;
}

a.enlaceAProductos {
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
}

figure {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

/* ADMIN */

#clientesYProductos, #pedidosYFacturas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

article.enlaceASeccion {
    border-radius: 10px;
    border: 5px solid #b5985d;

    font-family: 'Dancing Script', cursive;
    font-size: 16px;

    width: max-content;
    height: max-content;

    background-color: whitesmoke;
    color: black;
}

article.enlaceASeccion:hover {
    background-color: #CF6236;
}

h2.tituloEnlace {
    padding: 50px;

    font-family: 'Dancing Script', cursive;
    color: black;
}

h2.tituloEnlace:hover {
    color: whitesmoke;
}

/* MEDIA QUERY */
@media (max-width: 1120px) {

}

@media (max-width: 768px) {
    #principalWeb {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    
        grid-template-areas: 
            "seccionIzquierda"
            "seccionDerecha";

        padding: 10px 50px;
    }

    #clientesYProductos, #pedidosYFacturas {
        gap: 20px;
    }
}

@media (max-width: 576px) {

}

@media (max-width: 480px) {
    #principalWeb {
        padding: 10px 10px;
    }
}

@media (max-width: 400px) {

}

@media (max-width: 360px) {

}