* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;

    grid-template-rows: auto 1fr auto;

    grid-template-areas: "header"
                        "main"
                        "footer"
    ;

    max-width: 100vw;

	min-height: 100vh;
}

#cabeceraWeb {
    grid-area: header;

    display: flex;

    flex-direction: column;

    background-color: #30201a;
	justify-content: center;
	align-items: center;
    color: #b5985d;
}

div#tittle {
    display: flex;
    flex-direction: row;
}

#logo {
	margin: 5px;
	padding: 5px;
	max-height: 128px;
	width: auto;
}

h1 {
	font-size: 50px;
	font-family: 'Rock Salt', cursive;
}

nav#navegadorPrincipal {
    background-color: #77432e;
	width: 100%;
	height: auto;
	font-size: 17px;
}

ul#menu {
    display: flex;
    flex-direction: row;
}

li {
	font-family: 'Roboto', sans-serif;
	margin: 5px;
	padding: 5px;
	display: inline-block;
	cursor: default;
	list-style: none;
	border-radius: 10px;
	border: 3px solid #b5985d;
	text-align: center;
}

li a:link, li a:visited, li a:active {
	text-decoration: none;
	color: whitesmoke;
}

li a:hover,footer a:hover {
	background-color: #cf6236;
}

i {
	margin-right: 5px;
}

/*  MAIN    */

#principalWeb {
    grid-area: main;

    background-image: url('../img/fondo.png');

    padding-top: 20px;
	padding-bottom: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 20px;
}

section.contacto, section.tickets {
	display: flex;
    flex-direction: column;

	border: 5px solid #b5985d;
    border-radius: 10px;

    background-color: whitesmoke;
}

h2.contactoTittle, h2.ticketsTittle {
	border-bottom: 5px solid #b5985d;

    padding: 5px;

    background-color: #CF6236;

    color: whitesmoke;

    font-family: 'Rock Salt', cursive;

    text-align: center;
}

form.ticketsForm {
	display: flex;
	flex-direction: column;

	gap: 20px;
}

div.submitAndResetWrapper {
	display: flex;
	flex-direction: row;
}

input.ticketsEnviar, input.ticketsBorrar {
	padding: 5px;

    border-radius: 10px;
    border: 5px solid #b5985d;

    font-family: 'Rock Salt', cursive;
    font-size: 10px;

	width: max-content;
}

input.ticketsEnviar:hover, input.ticketsBorrar:hover {
    background-color: #CF6236;

    color: whitesmoke;
}

/*CREATE TABLE ARTESDORADAS_tickets (
    codigo NUMBER(2) PRIMARY KEY,
    mensaje VARCHAR2(4000) NOT NULL,
    asunto VARCHAR2(20) NOT NULL,
    estado VARCHAR2(20) NOT NULL,
    cliente NUMBER(2) NOT NULL REFERENCES ARTESDORADAS_usuarios ON DELETE CASCADE
);*/

/*  FOOTER  */

#webFooter {
    grid-area: footer;
}

footer {
	background-color: #77432e;
	text-align: center;
}

footer h3 {
	color: whitesmoke;
}

footer a {
	text-decoration: none;
	color: whitesmoke;
}

footer p {
	color: whitesmoke;
	text-align: center;
}

#copyright {
	background-color: #30201a;
}