/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/*
    Created on : May 23, 2023, 7:38:33 PM
    Author     : ivan
*/

#principalWeb {
    grid-area: main;

    background-image: url('../img/fondo.png');

    padding: 20px 20px;

	display: flex;
	flex-direction: column;
	justify-content: stretch;
    align-items: center;
    
    text-align: center;

	gap: 20px;
}

table {
    border: 5px solid #b5985d;
    border-radius: 10px;
}

th {
    font-family: 'Dancing Script', cursive;
    padding: 2em 1em;
    background-color: #CF6236;
    color: whitesmoke;
    text-transform: uppercase;

    border-bottom: 5px solid #b5985d;
    border-right: 5px solid #b5985d;
}

th:last-child {
    border-right: none;
}

td {
    padding: 2em 1em;
    
    border-right: 5px solid #b5985d;
    border-bottom: 5px solid #b5985d;
}

td:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

td.centrado {
    width: min-content;
}

td a img.fotoTD {
    width: 50%;
    height: 50%;
}