/* 
    Created on : May 9, 2023, 5:18:53 PM
    Author     : ivan
*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#principalWeb {
    grid-area: main;

    background-image: url('../img/fondo.png');

    padding: 10px 100px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas: "libro disco";

    gap: 20px;
    
    max-width: 100vw;
}

#libroPrincipal {
    grid-area: libro;
}

#discoPrincipal {
    grid-area: disco;
}

#libroPrincipal, #discoPrincipal {
    border: 5px solid #b5985d;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    min-width: 0;
    overflow: hidden;
}

#tituloLibros, #tituloDiscos {
    font-family: 'Dancing Script', cursive !important;
    text-align: center;

    border-bottom: 5px solid #b5985d;

    background-color: #CF6236;
    color: whitesmoke;
    
    padding: 0.1em 0em;

    font-size: 50px;
}

a.enlaceAProductos {
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
}

figure {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 768px) {
    #principalWeb {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    
        grid-template-areas: 
            "libro"
            "disco";

        padding: 10px 50px;
    }
}