/* 
    Created on : May 9, 2023, 5:18:53 PM
    Author     : ivan
*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#principalWeb {
    grid-area: main;

    background-image: url('../img/fondo.png');

    padding: 10px 100px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;

    grid-template-areas: "libro disco";

    gap: 20px;
    
    max-width: 100vw;
}

#libroPrincipal {
    grid-area: libro;
}

#discoPrincipal {
    grid-area: disco;
}

#libroPrincipal, #discoPrincipal {
    border: 5px solid #b5985d;
    border-radius: 10px;

    min-width: 100%;

    max-height: max-content;
}

figure {
    width: 100%;
    height: 500px;
}

.enlaceAProductos {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

#tituloLibros, #tituloDiscos {
    font-family: 'Dancing Script', cursive !important;
    text-align: center;

    border-bottom: 5px solid #b5985d;
    min-height: 5%;

    background-color: #CF6236;
    color: whitesmoke;
    
    padding: 0.1em 0em;

    font-size: 50px;
}